  * {
      margin: 0;
      padding: 0
  }

  html {
      height: 100%
  }

  body {
      background-color: #000000
  }

  .card0 {
      margin: 50px 12px 40px 12px;
      border: 0
  }

  .card1 {
      margin: 0;
      padding: 0;
      object-fit: contain;
      height: 100%;
      background-color: #EDE7F6;
      position: relative;
      border-top-left-radius: 10px !important;
      border-bottom-left-radius: 10px !important
  }

  #sub-heading1 {
      font-size: 55px
  }

  #sub-heading2 {
      font-size: 20px;
      color: grey
  }

  .gift-input {
      background: none
  }

  #heading {
      font-size: 33px;
      color: #000000;
      padding-bottom: 20px
  }

  .placeicon {
      font-family: fontawesome !important
  }

  .card2 {
      padding: 25px;
      padding-left: 35px;
      padding-right: 35px;
      margin: 0;
      height: 100%;
      border-top-right-radius: 10px !important;
      border-bottom-right-radius: 10px !important
  }

  .text-dark {
      color: grey !important
  }

  .form-card {
      height: 100%;
      position: relative
  }

  .form-card input,
  .form-card textarea {
      padding: 5px 1px 10px 1px;
      border: none;
      border-bottom: 1px solid lightgrey;
      border-radius: 0px;
      margin-bottom: 35px;
      margin-top: 2px;
      width: 100%;
      box-sizing: border-box;
      color: #2C3E50;
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 1px
  }

  .form-card input:focus,
  .form-card textarea:focus {
      -moz-box-shadow: none !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      border: none;
      font-weight: bold;
      border-bottom: 1.5px solid skyblue;
      padding-bottom: 9.5px;
      outline-width: 0
  }

  .form-card .btn-success {
      color: #ffffff !important;
      margin-bottom: 25px !important;
      font-weight: 300;
      width: 100%;
      border-radius: 4px;
      letter-spacing: 2px;
      font-family: Trebuchet MS !important
  }

  .bottom {
      bottom: 0;
      position: absolute;
      width: 100%
  }

  @media (max-width: 768px) {
      .bottom {
          position: relative
      }

      .card1 {
          padding-right: 15px;
          border-top-left-radius: 10px !important;
          border-top-right-radius: 10px !important;
          border-bottom-left-radius: 0px !important;
          border-bottom-right-radius: 0px !important
      }

      .card2 {
          border-bottom-left-radius: 10px !important;
          border-bottom-right-radius: 10px !important;
          border-top-left-radius: 0px !important;
          border-top-right-radius: 0px !important
      }
  }

  .fit-image {
      width: 100%;
      object-fit: cover
  }

  .radio-group {
      position: relative;
      margin-bottom: 25px
  }

  .radio {
      display: inline-block;
      width: 204;
      height: 64;
      border-radius: 0;
      background: #B2EBF2;
      box-sizing: border-box;
      border-top: 3px solid #E8F5E9;
      cursor: pointer;
      margin: 8px 0px 8px 0px;
      transition: 0.3s
  }

  .radio:hover {
      border-top: 3px #B2EBF2 solid;
      transition: 0.3s
  }

  .radio.selected {
      border-top: 3px solid #0091EA;
      transition: 0.3s
  }
  .package-title {
    font-size: 24px !important;
  }
  .stripe-card {
      padding: 15px 30px;
      border-radius: 5px;
      background: white;
      border-left: 5px solid #6672E5;
  }
  .text-clr {
      color: #6672E5;
  }